@{
    ViewBag.Title = "STAP";
}

<div id="index_wrapper">
    <div id="index_logo">
        <img src="~/Images/stap.png" alt="stap" height="200" width="200" align="middle">
    </div>
    
    <div id="index_content">
        <h3>Hoe starten?</h3>
            <ol class="round">
                <li class="one">
                    <h5>Registreer</h5>
                    Registreer je bedrijf via de registreer knop rechtsbovenaan.
                </li>

                <li class="two">
                    <h5>Meld je aan</h5>
                    Na het registreren kan u aanmelden met uw bedrijfsnaam en paswoord.
                </li>

                <li class="three">
                    <h5>Stages toevoegen</h5>
                    Indien we je bedrijf gevalideerd hebben kan je  vervolgens na het aanmelden je stages beheren. (Toevoegen/aanvullen/verwijderen).
                </li>
            </ol>
    </div>
</div>